setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
gevent>=20.9.0
msgpack>=0.6.0
base58
merkletools
rsa
PySocks>=1.6.8
pyasn1
websocket_client
gevent-ws
coincurve
maxminddb
rich
defusedxml>=0.7
pyaes
